<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="resources/css/main.css" />   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js" integrity="sha256-tr4FvXVZp8nkW7TvW4OYA5KWOs7fc2m5B6LN+AOn1VI=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script src="js/sessionJSON.js"></script>
  </head>

  <body>
    <div class="header-bar">
        <img src="resources/img/title-bar-icon.png" class="header-bar-img"/>
    </div>
    <div class="container" ng-app="atlassianApp">
        <div class="row" ng-controller="mainController">
            <div class="col-md-12">
                <div class="atlassian-summit-img"><img src="resources/img/atlassian-summit-icon.png"/></div>
                <div class="sub-heading">Video Archive</div>
                <div class="pal">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-repeat="Tab in Tabs track by Tab.Title" ng-class="{ active: isTrackSet(Tab.Title) }" class="tabs">
                            <a href ng-click="setTrack(Tab.Title)" ng-bind="Tab.Title"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 pls">
                    <div class="col-md-4">
                        <div>
                            <div class="activeTab"><label ng-bind="ActiveTab"></label></div>
                            <ul class="session-list-group">
                                <li class="session-list-items" ng-repeat="session in sessions" ng-click="loadSessionDetails(session.Id)">
                                    <a ng-bind="session.Title"></a>
                                    <div ng-if="session.speaker" class="tab-session-speaker">
                                        <span ng-bind="session.speaker.FirstName"></span>
                                        <span ng-bind="session.speaker.LastName"></span><span>,</span>
                                        <span ng-bind="session.speaker.Company"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <h2 class="mts" ng-bind="SelectedSession.Title"></h2>
                            <div class="pts session-speaker" ng-if="SelectedSession.Speakers" ng-repeat="Speaker in SelectedSession.Speakers">
                                <span ng-bind="Speaker.FirstName"></span>
                                <span ng-bind="Speaker.LastName"></span><span>,</span>
                                <span ng-bind="Speaker.Company"></span>
                            </div>
                            <div class="ptm" ng-bind="SelectedSession.Description"></div>
                            <div ng-if="SelectedSession.Speakers">
                                <div class="ptm"><a class="qa-link">See the Q&A from this talk from this talk and other here.</a></div>
                                <div class="ptm about-speakers">About the speaker(s)</div>
                                <div class="pts speaker-details" ng-repeat="Speaker in SelectedSession.Speakers">
                                    <span><b ng-bind="Speaker.FirstName"></b></span>
                                    <span><b ng-bind="Speaker.LastName"></b></span><span>,</span>
                                    <span ng-if="Speaker.Title"><span ng-bind="Speaker.Title"></span><span>,</span></span>
                                    <span ng-bind="Speaker.Company"></span>
                                    <div ng-if="Speaker.Biography" class="ptm speaker-biography" ng-bind="Speaker.Biography"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
