ul li a {
    color: #000000;
}

.pal {
    padding: 3%;
}

.pts {
    padding-top: 2%;
}

.ptm {
    padding-top: 2.5%;
}

.pls {
    padding-left: 2%;
}

.mts {
    margin-top: 2%;
}

.header-bar {
    background-image: url('../img/blue-background.png');
    background-repeat: repeat-x;
}

.header-bar-img {
    margin-left: 12%;
}

.atlassian-summit-img {
    margin: 2% auto 1% auto;
    width: 33%;
}

.sub-heading {
    text-align: center;
    color: #808080;
    font-weight: 400;
    font-size: 15px;
}

.nav-tabs > li > a {
    margin-right: 0 !important;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    outline: none;
}

.tab-session-speaker {
    color: #808080;
    font-size: 12px;
    padding-top: 4px;
}

.activeTab {
    border-bottom: 1px solid #ddd;
    padding: .2em .4em .2em 0;
    font-size: 20px;
    color: #005994;
}

.session-speaker {
    color: #005994;
    font-size: 14px;
    font-weight: 500;
}

.qa-link {
    color: #32adff;
}

.about-speakers {
    color: #005994;
    font-size: 23px;
    font-weight: 800;
}

.speaker-details {
    color: #000000;
    font-size: 13px;
    font-weight: 500;
}

.speaker-biography {
    font-size: 13px;
    font-weight: 400;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    border-bottom-color: none !important;
    border: 1px solid #FFFFFF !important;
    background-color: #ffffff !important;   
    background-image: none !important;
}

.tabs {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    width: auto;
    background-color: #F5F5F5;
}
.nav-tabs > li {
    margin-bottom: -2px !important;
}

.tabs.active {
    border-bottom: 0 !important;
}

.tabs:first-of-type {
    border-top-left-radius: 5px;
}

.tabs:last-of-type {
    border-top-right-radius: 5px;
    border-right: 1px solid lightgray;
}

.session-list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
a:hover, a:focus {
    text-decoration: none;
}

a:hover, .pointer {cursor:pointer;}

.session-list-items:first-of-type {
    border-top: 0 solid #ddd;
}

.session-list-items:last-of-type {
    border-bottom: 1px solid #ddd;
}

.session-list-items {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.session-list-items a{
    font-size: 14px;
    font-weight: 500;
    color: #005994;
}

.session-list-group li:hover {
    background-color: #F5F5F5;
}